<table border="0" style="width:100%">
 <tr>
    <td>
        <img src="https://static-frm.ie.edu/university/wp-content/uploads/sites/6/2022/06/IE-University-logo.png" width=150>
     </td>
    <td><div style="font-family:'Courier New'">
            <div style="font-size:25px">
                <div style="text-align: right"> 
                    <b> MASTER IN BIG DATA</b>
                    <br>
                    Python for Data Analysis I
                    <br><br>
                    <em> Daniel Sierra Ramos </em>
                </div>
            </div>
        </div>
    </td>
 </tr>
</table>

# Part 2: Basic Exploratory Data Analysis

**Perform a basic exploratory data analysis of the resulting DataFrame from Part I and answer some questions. (NOTE: If you couldn't complete Part I you can use the file `customers_no_partI.csv` provided here for this part)**

To complete this part, paste the answers where appropriate, and upload the full notebook at the end. Do not paste the code in the boxes, just the solution. Code must be in the Jupyter Notebook file.

**Submission format:** One Jupyter notebook (`GroupX_Assignment2_C1_Part2.ipynb`).

**Grading criteria** are, in decreasing order of importance and increasing object of subjectivity, as follows:

- Code has no errors, the whole notebook runs from top to bottom without modifications (25 %)
- Code gives correct answers (25 %)
- Code produces results with expected types as described in the assignment (15 %)
- Code avoids repetition and favors **pandas methods** where appropriate, or loops and conditionals if strictly necessary (15 %)
- Code uses meaningful, explanatory variable names (10 %)
- Code is as succinct as possible (when there are two ways of doing something, the simplest, shortest, or easier to understand is chosen) (10 %)
    - Counter-point: if you discuss several ways of doing something, with its pros and cons (without just dumping the code and no explanations), that counts positively as well

Optionally, you can include code comments describing the intent (i.e. code comments should answer "why is this code here?", not "what is this code doing?") and supplementary markdown cells if appropriate.

All the questions can be done independently from each other (naturally after reading the data). They are not sorted in any particular order of difficulty.

**NOTE: All submissions made without an attached notebook or in the incorrect format will be graded as 0**

In [2]:
import pandas as pd
file_path = "data/Group3_Assignment2_C1_Part1.csv"
data = pd.read_csv(file_path)

## Question 2

Create a new column named `MntProteinProducts` with the total amount spent on meat and fish.

*What is the amount spent on proteins for the `ID=4141`?*

In [3]:
data["MntProteinProducts"] = data.MntMeatProducts + data.MntFishProducts

In [4]:
test_id = 4141
print(f"The amount spent on protein products by customer {test_id} is {data.loc[data['ID']==4141]['MntProteinProducts'].values[0]}")

The amount spent on protein products by customer 4141 is 238

## Question 3

Calculate the **total amount** spent on protein given the marital status, but just for the "BabyBoomers".

*What is the total amount spent on protein for married baby boomers?*

In [5]:
boomers_filtered_df = data[data["Generation"] == "BabyBoomer"]
boomers_filtered_df.groupby('Marital_Status')[['MntProteinProducts']].sum()

                MntProteinProducts
Marital_Status
Absurd                         699
Alone                           47
Divorced                     17863
Married                      58657
Single                       32694
Together                     45027
Widow                        13518

In [6]:
print(f"The amount spent on protein products by married baby boomers is {boomers_filtered_df[boomers_filtered_df['Marital_Status']=='Married']['MntProteinProducts'].sum()}")

The amount spent on protein products by married baby boomers is 58657

## Question 4

Calculate the **average amount** spent on sweets, given the generation and the number of kids.

*What is the average amount spent on sweets for the Millenials with 2 kids?*

In [7]:
data.groupby(["Generation","Kidhome"])[["MntSweetProducts"]].mean()

                    MntSweetProducts
Generation Kidhome
BabyBoomer 0               35.647059
           1                5.590361
           2                4.733333
Gen X      0               42.909980
           1                9.168242
           2                4.068966
Millenial  0               48.691011
           1               11.073892
           2                9.250000
Silent     0               45.958333

In [8]:
print(f"The amount spent on sweet products by Millenial customers with 2 kids at home is {data[(data['Generation']=='Millenial') & (data['Kidhome']==2)]['MntSweetProducts'].mean()}")

The amount spent on sweet products by Millenial customers with 2 kids at home is 9.25

## Question 5

Calculate the average amount spent on gold, wine, and deals given the income (divided into 10K tranches).

*What is the average amount spent on wine for those with an income between 90-100K?*

In [9]:
#Here we use the Pandas cut function, but in the result it will show all possible bins for Tranches, including the ones that have no values.
bins = range(0, int(data['Income'].max()) + 10000, 10000)
labels = ['0-10K'] + [f"{int(i/1000)}-{int(i/1000) + 10}k" for i in bins[1:-1]]
data['Tranche'] = pd.cut(data['Income'], bins=bins, labels=labels, right=False)

data.groupby('Tranche')[['MntGoldProds', 'MntWines', 'NumDealsPurchases']].mean()

/var/folders/2b/0rq4mprx3cb7w7bffk181n3m0000gn/T/ipykernel_90426/3408169784.py:6: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  data.groupby('Tranche')[['MntGoldProds', 'MntWines', 'NumDealsPurchases']].mean()

          MntGoldProds    MntWines  NumDealsPurchases
Tranche
0-10K        44.172414   16.413793           3.827586
10-20k       13.051020    7.591837           2.204082
20-30k       15.341564   15.962963           1.839506
30-40k       18.200557   46.281337           2.186630
40-50k       30.795732  152.396341           2.856707
...                ...         ...                ...
620-630k           NaN         NaN                NaN
630-640k           NaN         NaN                NaN
640-650k           NaN         NaN                NaN
650-660k           NaN         NaN                NaN
660-670k     12.000000    9.000000           4.000000

[67 rows x 3 columns]

In [10]:
# Here we used a custom function to get the tranche. It is not Pandas but it only shows the tranches that have values.

def get_tranche(income):
    tranche = int(income // 10000) * 10
    return f"{tranche}-{tranche + 10}k"

data['Tranche.v2'] = data['Income'].apply(get_tranche)

data.groupby('Tranche.v2')[['MntGoldProds', 'MntWines', 'NumDealsPurchases']].mean()

            MntGoldProds    MntWines  NumDealsPurchases
Tranche.v2
0-10k          44.172414   16.413793           3.827586
10-20k         13.051020    7.591837           2.204082
100-110k      145.250000  665.500000           0.250000
110-120k        3.000000    6.000000           0.000000
150-160k        2.400000   12.600000           3.000000
160-170k        3.000000   70.000000           7.500000
20-30k         15.341564   15.962963           1.839506
30-40k         18.200557   46.281337           2.186630
40-50k         30.795732  152.396341           2.856707
50-60k         49.393586  323.807580           3.311953
60-70k         65.349398  525.710843           2.605422
660-670k       12.000000    9.000000           4.000000
70-80k         76.179310  604.217241           1.613793
80-90k         71.322981  681.391304           1.111801
90-100k        63.609756  851.926829           0.634146

In [13]:
print(f"The average amount spent on wine by customers with an income between 90k and 100k is {data[data['Tranche']=='90-100k']['MntWines'].mean()}")

The average amount spent on wine by customers with an income between 90k and 100k is 851.9268292682926